{% extends "base/ad.html" %}

{% block no_assignment %}

    <h1>Call for participants</h1>
    <!--<p> *If you have already successfully completed a "Memory test" experiment
      (meaning you have seen the words and done the task), we request that
      you please do not accept this HIT. </p>
    -->
    <p>
        The Griffiths Lab at Princeton University is looking for online participants
        for a brief psychology experiment.
        <b>You will need to use Zoom for this study (video and audio)!</b>
        The other requirements are that you are at least 18 years old and are a fluent English
        speaker. The task will take 15-20 minutes (with an additional possible 10 minutes,
        which will be additionally compensated at $7/hour) to complete, and will pay:
        $6.00 base pay, and possible performance bonus.
    </p>
    <p>
        Please click the "Accept HIT" button on the Amazon site
        below to begin the task.
    </p>
{% endblock no_assignment %}
{% block live %}
    <h1>Thanks for accepting this HIT.</h1>
    <p>
        By clicking the following URL link, you will be taken to the experiment,
        including complete instructions and an informed consent agreement.
    </p>

    <div class="alert alert-warning">
        <b>Warning</b>: Please disable pop-up blockers before continuing.
    </div>

    <button type="button" id="begin-button" class="btn btn-primary btn-lg">
    Begin Experiment
    </button>
{% endblock live %}
