{% extends "layout.html" %}

{% block head %}
<script type="text/javascript">
    // Parameters
    settings = {};
    settings.col_1 = {% if experiment.col_1 %}true{% else %}false{% endif %};
    settings.col_2 = {% if experiment.col_2 %}true{% else %}false{% endif %};
    settings.nom_1 = {% if experiment.nom_1 %}true{% else %}false{% endif %};
    settings.nom_2 = {% if experiment.nom_2 %}true{% else %}false{% endif %};
</script>
{% endblock %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>
        <hr>
        <p>Please click the button to open Zoom (Chrome/Firefox/Edge preferred). For "Your Name", pick an animal or a fruit. Meeting Passcode below. </p>
        <button type="button" id="open-zoom-link" class="btn btn-lg btn-primary">Open Zoom</button>
        <br>
        <p><u>k%R2FY8pxW</u></p>
        <br>
        <p><b>Leave Zoom open throughout the game. Stay muted for now!</b></p>
        <br>
        <p> To confirm you are in the correct Zoom room, please paste the code that is screenshared in Zoom.</p>
        <input type="text" id="seen-zoom-code" size="60" />
        <button type="button" id="compare-zoom-code" class="btn btn-lg btn-primary">Compare</button>
        <br>
        <br>
        <div id="zoom-code-result">
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-xs-10"></div>
            <div class="col-xs-2">
                <button type="button" id="go-to-instructions_2" class="btn btn-success btn-lg"
                disabled> Next </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block libs %}
    {{ super() }}
    <script src="/static/scripts/instructions.js" type="text/javascript"> </script>
{% endblock %}