{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

            <p>This game has 12 rounds. In each round, you will see a goal pattern you are trying to complete, and the main 3x3 grid. Your task is to take turns choosing squares in the main grid with a partner until you complete the goal pattern. Your partner will change each round.</p>
            <img src="/static/images/instructions_pic_Rknowsgoal.png" alt="Screenshot of Squares Game" class="center"/>
            <!--<p><b> However, ONLY YOU can see the goal pattern, not your partner.</b> Your partner will try to help you, but can only guess what the goal pattern is from the squares you choose. You will always go first.</p>--> 
            <p><b> Both you and your partner can see the goal pattern.</b> Your partner will try to help you. You will always go first.</p>
            <p>There is no time limit to complete the pattern: you choose a square, then wait for your partner to choose a square, then you can choose a square again, etc. Your partner will be different for each round. You will receive a bonus that decreases based on the number of mistakes you and your various partners make.</p>

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('instructions-2');">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

